a:hover{
    text-decoration: none;
}

.common-padding {
    padding: 50px 0px;
}

.full-wrapper {
    display: block;
    position: relative;
}

.login-bg {
    background: url(../images/login-bg.jpg) no-repeat;
    background-size: 100% auto;
}

.login-section .login-form {
    width: 100%;
    position: relative;
    max-width: 588px;
    background: #fff;
    border-radius: 6px;
    left: 0px;
    right: 0px;
    margin: 35px auto 0px auto;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 50px 10px;
}

.login-section .login-form .form-group {
    margin-bottom: 40px;
}

.form-group {
    position: relative;
    display: block;
    margin: 0px 0px 30px 0px;
}

.form-group label {
    font-size: 15px;
    color: #888888;
    font-weight: 400;
    margin: 0px 0px 3px 0px;
    min-height: 21px;
    font-family: "Roboto", sans-serif;
}

.form-group .form-control {
    border: 0px;
    padding: 0px 3px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    border-bottom: 1px solid #eff0f1;
    border-radius: 0px;
    margin: 0px;
    font-weight: 400;
    color: #333;
    font-family: "Roboto", sans-serif;
    background: #fff;
}

.form-group .error-msg {
    position: absolute;
    bottom: -23px;
    left: 0px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: red;
}



.login-section .login-form .form-group {
    margin-bottom: 40px;
}


.login-section .login-form .submit-btn {
    background: #2a9c2a;
    font-weight: 500;
    width: 100%;
    outline: none;
    font-size: 16px;
    line-height: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 0 15px;
    cursor: pointer;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    font-family: "Roboto", sans-serif;
    padding: 0 12px;
    text-transform: uppercase;
}


.login-logo{
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}

.login-logo img{
        height: 60px;
}

.login-section .login-bottom-text {
    display: block;
    margin: 20px 0px 20px 0px;
}

.login-section .login-bottom-text p {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 14px;
}

.login-section h2 {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

footer{
    background: #112b3e;
    height: 36px;
}

footer .footer-text{
    font-size: 11px;
    color: #b9b9b9;
    margin-top: 10px;
    text-align: right;
        margin-bottom: 0;
}

footer .footer-text a{
    color: #b9b9b9;
}

.header-top{
        border-bottom: 1px solid #f1e31a;
}

.logo img{
    width:140px;
    margin-top:10px;
    margin-bottom: 10px;
}

.header-top-right{
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile_link .dropdown-toggle img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.profile_link .dropdown-toggle:after{
    display: none;
}


.header-top-right.navbar .dropdown-menu {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    border: 0px;
}

.header-top-right.navbar .dropdown-menu a {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-content: center;
}

.header-top-right.navbar .dropdown-menu a i {
    font-size: 18px;
    margin: 0px 10px 0px 0px;
    line-height: 24px;
}

.header-section{
}

.header-main{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .header-menu li .nav-link{
    padding:0px !important;
}

header .header-menu li .nav-link i{
    color: #fff018;
    margin: 0px 5px 0px 0px;
    border-bottom: 1px solid #c7a236;
    width: 36px;
    font-size: 22px;
    height: 36px;
    text-align: center;
    line-height: 22px;
    position: relative;
    top: 8px;
}

header .header-menu li.dropdown:hover .dropdown-menu{
    display: block;
}

header .header-menu li.dropdown .dropdown-menu{
    width: 360px;
    border-radius: 0;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.2);
    border: 1px solid #e2e2e2;
}

header .header-menu li.dropdown .dropdown-menu .sub-menu-title{
    color: #0c64ae;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    margin-left: 6px;
}

header .header-menu li.dropdown .dropdown-menu  .menu-list{
    margin-left:6px;
    padding:5px 15px;
}

header .header-menu li.dropdown .dropdown-menu  .menu-list a{
    font-size:13px;
    display: flex;
    color: #000;
    margin:0px 0px 10px 0px;

}

header .header-menu li.dropdown .dropdown-menu  .menu-list a:hover{
    color: #5e5e5e;
}
header .header-menu li.dropdown .dropdown-menu  .menu-list a i{
    margin-right: 12px;
    font-size: 18px;
    color: #0c64ae;
    width: 16px;
    text-align: center;
}

/*----request-page-----*/
.inner-main-section {
    display: inline-block;
    width: 100%;
    padding-top:20px;
}
.nopadding {
    padding: 0;
}
.inner-main-section ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 0;
}
.main-section {
    display: inline-block;
    width: 100%;
    background: #163850;
    vertical-align: bottom;
}
.left-bar-request {
    float: left;
    width: 36px;
}
.dashboard-bar-request {
    float: left;
    width: 100%;
}
.inner-heading-request h2 {
    font-weight: lighter;
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
}
.an-header-main {
    display: inline-block;
    width: 100%;
    background: #112b3e;
}
.request-section {
    display: inline-block;
    width: 100%;
}
.main-heading {
    float: left;
    width: 100%;
}
.settings-buttons li {
    display: inline-block;
    padding: 0;
}
.settings-buttons li a {
    padding: 5px;
}
.request-inner-table {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 0.5px 0 0 #fff inset, 0 1px 2px 0 #b3b3b340;
}
.inner-heading-request {
    float: left;
}
.settings-buttons {
    float: right;
}
.upper-header-request .col-md-12 {
    display: flex;
}
.add-record-btn a {
    color: #fff;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px rgba(0,0,0,.3);
    font-size: 13px;
    font-family: titillium web,sans-serif;
    background: #0c64ae;
    padding: 10px 30px;
        display: inline-block;
        transition: all 0.5s;
}
.add-record-btn a i{
    transition: all 0.5s;
}
.add-record-btn a:hover i{
    padding: 0 8px 0 0;
}
.upper-header-request {
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.back-button {
    display: inline-block;
    width: 100%;
}
.add-record-btn a i {padding: 0 6px 0 0;}

.search-area-request button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
}

.upper-header-request h3 {
    font-weight: normal;
    font-size: 20px;
}

.search-area-request {
    float: right;
        position: relative;
}
.search-area-request input {
    font-size: 11px;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #dadada;
    outline: none;
}
.filter-btn-request {
    float: right;
    padding-right: 8px; 
}
.inner-table-main tbody td {
    border-bottom: 1px solid #e6e6e6;
}

.inner-table-main table {
    font-size: 12px;
}

.inner-table-main table td {
    padding: 5px 7px;
}
.add-record-btn {
    float: right;
        padding-right: 8px;
}
.inner-form-main {
    display: inline-block;
    width: 100%;
}
.form-field-inner {
    max-width: 500px;
}

.form-subsets .form-group label {
    font-weight: 100;
    display: inline-block;
    width: 150px;
    font-size: 13px;
}
.form-subsets .form-group {
    margin-bottom: 10px;
}
.form-subsets .form-group input {
    display: inline-block;
    width: 220px;
    padding: 2px;
      border: none;
    border-bottom: 1px solid #c1bebe;
}
.form-subsets .form-group select {
    display: inline-block;
    width: 220px;
    padding: 2px;
       border: none;
    border-bottom: 1px solid #c1bebe;
}
.form-heading-space {
    text-align: center;
}
.form-upper-main {
    margin-bottom: 30px;
}

.form-upper-main h4 {
    font-weight: 400;
    color: #0c64ae;
}
.form-heading-space h3 {
    font-weight: lighter;
    font-size: 32px;
}
.form-field-inner h4 {
    font-weight: 400;
    color: #0c64ae;
}
.form-subsets .form-group input.submit-office {
    color: #fff;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px rgba(0,0,0,.3);
    font-size: 13px;
    font-family: titillium web,sans-serif;
    background: #0c64ae;
    padding: 10px 30px;
    display: inline-block;
}
.form-subsets textarea {
    width: 100%;
    padding: 10px;
    color: #675f5f;
}
.inner-main-section li i {
    color: #fff018;
}
.inner-table-main table thead td{
    background-color:#0c64ae;
}
.inner-table-main table thead td a{
    color:#fff;
}
.action-drop .dropdown-toggle:after {
    content: none;
}
.action-drop .dropdown-menu {
    padding: 10px;
}
.action-drop .dropdown-menu li {
    padding: 3px 0;
}
.action-drop .dropdown-menu li i {
    width: 27px;
    text-align: center;
}
.dropdown-custom{
    font-size: 14px;
    cursor: pointer;
}
.action-drop.active .dropdown-menu {
    display: block;
    left: unset;
    right: 0;
}
.action-drop .dropdown-menu li a {
    font-size: 14px;
}
.main-dashboard-out {
    float: left;
    width: 100%;
}
.user-profile-dp img {
    border: 3px solid #fff018;
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.dash-board-bd .tab-content {
    background: #205275;
    padding: 10px;
    margin-bottom: 20px;
}

.dash-board-bd .nav-tabs li a.active {
   background: #205275;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 3px solid;
    border-left: 1px solid #fff018;
    border-bottom: 0;
    border-right: 1px solid #fff018;
    background-color: #205275;
}

.dash-board-bd .nav-tabs li a{
    padding: 4px 15px;
    float: left;
    text-align: center;
    color: #fff018;
}
.inner-profilr-data span {
    display: block;
    font-size: 14px;
    color: #fff018;
    margin-top: 5px;
}
.an-published-posts {
    display: inline-block;
    width: 100%;
}

.an-single-published {
    display: inline-block;
    width: 100%;
}

.an-published-header {
    display: inline-block;
    width: 100%;
}

.an-bio-name {
    width: 60%;
    float: left;
        display: flex;
    align-items: center;
}
    .an-published-img img {
    max-width: 50px;
    border-radius: 50%;
}

.an-published-img {
    display: inline-block;
}

.an-published-name {
    display: inline-block;
    margin-left: 10px;
}

.an-published-name h3 {
    margin: 0;
    font-size: 18px;
}

.an-published-name p {
    font-size: 14px;
    margin: 0;
}
.an-single-published {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.16);
    margin: 20px 0;
    border-radius: 3px;
    background: #2d7bb2;
}
.an-bio-name img {
    max-width: 50px;
    border-radius: 50%;
}
.an-published-image img {
    width: 100%;
}
.an-published-footer a {
    font-size: 14px;
    margin-top: 7px;
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
}
.an-published-footer a i {
    color: #fff018;
}
.an-edit-info a,.an-edit-info p {
    font-size: 14px;
}
.an-published-footer {
    display: inline-block;
    width: 100%;
}
.an-published-img {
    display: inline-block;
}

.an-published-name {
    display: inline-block;
    margin-left: 10px;
}
.an-published-content {
    display: inline-block;
    width: 100%;
}
.an-published-name h3 {
    margin: 0;
    font-size: 18px;
}

.an-published-name p {
    font-size: 14px;
    margin: 0;
}
.an-edit-info {
    width: 30%;
    float: right;
    text-align: right;
    display: flex;
}
.an-edit-info a {
    margin-right: 6px;
}
.upper-profile-db {
    background-image: url(https://cdn.webhr.co/images/Backgrounds/Profiles/Profile8.png);
        padding: 25px 0px;
    background-size: cover;
}
.inner-profilr-data h2 {
    font-weight: 400;
    color: #fff018;
}
.an-single-list img {
    width: 100%;
}
.inner-profilr-data .user-role span {
    display: inline-block;
    background: #fff018;
    color: #000;
    padding: 0 10px;
    border-radius: 6px;
}
.post-editor-db h3 {
    font-weight: 100;
    margin: 10px 0;
    font-size: 16px;
}

.post-editor-db textarea {
    width: 100%;
}

.bottom-update li {
    display: inline-block;
}

.bottom-update ul {
    float: left;
}
.bottom-update {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.bottom-update input {
    float: right;
        cursor: pointer;
}

.post-editor-db {
    display: inline-block;
    width: 100%;
}
.inner-profilr-data span i {
    margin-right: 7px;
}
.sidebar-dashboard .an-alert-box {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 40px 0 0 0;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    background: #2d7bb2;
}

.an-alert-header h3 {
    float: left;
    font-size: 20px;
    font-weight: normal;
}

.an-all-alert {
    float: right;
}

.an-alert-header {
    display: inline-block;
    width: 100%;
}
.an-edit-info a {
    color: #fff018;
}
.an-alert-content {
    display: inline-block;
    width: 100%;
}
.an-link-list i {
    margin-right: 5px;
}
.an-single-list a {
    font-size: 14px;
    line-height: normal;
    color: #ffffff;
}
.submit-post-db {
    background: #fff018;
    color: #000;
    border: 1px solid #fff018;
    padding: 4px 30px;
}
.an-single-list {
    display: inline-block;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid #dee5ea;
}
.an-all-alert a {
    color: #ffffff;
}
.an-all-alert a i{
    color: #fff018;
    margin-right: 5px; }
.bottom-area-db h3 {
    color: #fff018;
}

.an-published-name p {
    color: #fff;
}

.an-published-content p {
    color: #fff;
}
.an-badges-pull {
    float: right;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: #fff018;
    color: #000;
    text-align: center;
    font-size: 10px;
}
.an-edit-info p {
    color: #fff;
}
.right-bar-request {
    display: inline-block;
    width: calc( 100% - 36px);
}

.bottom-update li a {
    color: #000;
}

.header-top-right a {
    color: #fff018;
}
.an-header-main h1 {
    color: #fff;
}

.logo img {
    background: #fff;
    border-radius: 10px 10px 0 0;
}